@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');



.background-radial-gradientss {
    height: 70vh;
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 92%, 5%) 15%,
          hsl(218, 92%, 5%) 15%,
          hsl(218, 92%, 5%) 15%,
          hsl(218, 92%, 5%) 15%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
        hsl(218, 92%, 5%) 15%,
        hsl(218, 92%, 5%) 15%,
        hsl(218, 92%, 5%) 15%,
        hsl(218, 92%, 5%) 15%,
          transparent 100%);
          
    }
    .video-container {
      
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: transparent; /* Set your desired background color */
   /* Set initial border color and width */
  border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  box-shadow: 10px 0 50px rgba(255, 255, 255, 0.5); /* Set your desired box shadow */
  animation:shadowAnimation 2s infinite alternate;
    }
    @keyframes shadowAnimation {
      0% {
        box-shadow: 0 0 10px rgba(0, 162, 255, 0.5); /* Start box shadow */
      }
      50% {
        box-shadow: 0 0 20px rgba(0, 106, 255, 0.8); /* Middle box shadow */
      }
      100% {
        box-shadow: 0 0 10px rgba(170, 0, 255, 0.5); /* End box shadow */
      }
    }
    .full-width-height {
      width: 100%;
      height: 100%;
      object-fit: cover; /* This ensures the video covers the entire container */
    }
    
.home__container{
    width: 100dvw;
    
}

.title{
    text-align: center;
    margin-top: 50px;
    color: #291e6a;
}
.imagecard{
    
    display: flex;
    justify-content: space-evenly;

}
.cont{
    justify-content: center;
}

.contT{
  display: flex;
  
  justify-content: space-evenly;
}
.z{
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(0, 0, 0);
  font-weight:600;
  font-size: 2.5rem;
}
.zp{
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}


/* YourComponent.css */

/* Style for the container */
.box-container {
  background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(281, 67%, 23%) 15%,
          hsl(284, 41%, 30%) 35%,
          hsl(219, 73%, 35%) 75%,
          hsl(219, 73%, 35%) 75%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(219, 73%, 35%) 75%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 94%, 80%) 80%,
          transparent 100%);
  max-width:1100px; /* Set the width */
  height: 250px;
  padding: 20px; /* Set padding for inner content */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  
  margin-left: auto;
  margin-right: auto;
}
.bxe{
  display: flex;
  justify-content: space-evenly;
  color: aliceblue;
}
.contt {
  width: 500px; /* Set the width as per your requirements */
  height: 250px; /* Set the height as per your requirements */
  /* Add a border for visualization */
  padding: 10px; /* Optional: Add padding for spacing inside the container */
  /* Add any other styles as needed */
 object-fit: cover; 
}
.maincont{
  display: flex;
  justify-content: center;
}


@media only screen and (max-width: 768px) {
  .maincont{
    
    display: inline;
    justify-content: center;
  }
  .contt {
    margin-left: auto;
    margin-right: auto;
    width: 250px; /* Set the width as per your requirements */
    height: 250px; /* Set the height as per your requirements */
  }
  .box-container{
    height: 400px;
    
  }  
  .md{
    display: inline;
  }
  
  .imagecard {
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
    .contT{
      flex-direction: column;
      align-items: center;
      padding: 10px 40px 10px 40px;
    }
    .bxe h3 {
      width: 100%; /* Make each column full width on small screens */
      text-align: center; /* Center text on small screens */
      margin-bottom: 10px; /* Add some space between items */
    }
  }
@media screen and (max-width: 600px) {
  .bxe{
    display: inline;
    justify-content: space-evenly;
    color: aliceblue;
  }

  .bxe h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .bxe h3 svg {
    /* Adjust the icon size for smaller screens if needed */
    font-size: 30px;
  }
}













  