@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.hs{
    text-align: center;
    color: brown;
    font-family: 'Montserrat', sans-serif;
}
.orgcon  {
    padding: 50px 50px 50px 50px;
    color: rgb(127, 140, 255);
    font-family: 'Montserrat', sans-serif;

    
}